<!doctype html>
<html>
<head>
<style>
table {
  width: 100%;
}
td.top {
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  border-collapse: true;
}
</style>
</head>
<body>
  <table class="top">
    <td class="top">
      <h1>Accessions</h1>
      <table>
        <tr>
            <th>Acc ID</th>
            <th>Run</th>
            <th>State</th>
            <th>Split Start</th>
            <th>Split End</th>
            <th>Split Worker</th>
            <th>Merge Start</th>
            <th>Merge End</th>
            <th>Merge Worker</th>
        </tr>
        {% for row in accs %}
          <tr>
            <td>{{ row.acc_id }}</td>
            <td>{{ row.sra_run_info["Run"] }} </td>
            <td>{{ row.state }}</td>
            <td>{{ row.split_start_time }}</td>
            <td>{{ row.split_end_time }}</td>
            <td>{{ row.split_worker }}</td>
            <td>{{ row.merge_start_time }}</td>
            <td>{{ row.merge_end_time }}</td>
            <td>{{ row.merge_worker }}</td>
          </tr>
        {% endfor %}
      </table>
    </td>
    <td class="top">
      <h1>Blocks</h1>
      <table>
        <tr>
            <th>Acc ID</th>
            <th>Run</th>
            <th>Number</th>
            <th>State</th>
            <th>Start</th>
            <th>End</th>
            <th>Worker</th>
        </tr>
        {% for block, acc in blocks %}
          <tr>
            <td>{{ acc.acc_id }} </td>
            <td>{{ acc.sra_run_info["Run"] }} </td>
            <td>{{ block.block_id }}</td>
            <td>{{ block.state }}</td>
            <td>{{ block.align_start_time }}</td>
            <td>{{ block.align_end_time }}</td>
            <td>{{ block.align_worker }}</td>
          </tr>
        {% endfor %}
      </table>
    </td>
  </table>
</body></html>
